@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('https://cdn.ingrid.com/static/assets/Inter.var.woff2') format('woff2');
}

:export {
  inter: Inter;
}
